@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
	--font-body: 'Inter', sans-serif;
	--color-bg-0: #DEDEDE;
	--color-bg-1: #EFEFEF;
	--color-bg-2: #FFF;
	--hover: hsla(60, 3%, 19%, 0.08);
	--accent: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: #333330;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-image: url(src/lib/images/noise.svg);
	background-size: 100%;
	background-repeat: repeat;
}

h1,
h2
{
	font-weight: 700;
}

h5 {
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
